.editor-container {
  padding: 15px;
  margin: 0;
}

.editor {
  max-width: 80%;
  margin: 0;
  padding: 0;
}

.ck-editor__editable_inline {
  min-height: 300px;
  max-width: 900%;
  margin: 0;
  padding: 0;
}