.App {
    margin: 0;
}

.con{
    background-color: palegoldenrod;
}

.con1 {
  background-color: paleturquoise;
}

.con2 {
  background-color: palegreen;
}

.con3 {
  background-color: lightpink;
}
